*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#efe9dc;

font-family:'Cormorant Garamond',serif;

overflow:hidden;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.background{

position:fixed;

inset:0;

background:

radial-gradient(circle at top,#ffffff,#efe9dc 65%);

z-index:-3;

}

.particles{

position:fixed;

inset:0;

background-image:

radial-gradient(#d4b06a 1px,transparent 1px);

background-size:35px 35px;

opacity:.18;

animation:moveBackground 35s linear infinite;

z-index:-2;

}

@keyframes moveBackground{

from{

transform:translateY(0);

}

to{

transform:translateY(-35px);

}

}

.container{

position:relative;

width:420px;

height:520px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.envelope{

position:relative;

width:360px;

height:240px;

cursor:pointer;

perspective:1200px;

}

.envelope-back{

position:absolute;

width:100%;

height:100%;

background:#ead8b6;

border-radius:8px;

box-shadow:

0 20px 40px rgba(0,0,0,.15);

overflow:hidden;

}
